@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-links a {
  transition: 0.3s;
  border-bottom: 2px solid #d1d5db;
  border-top: 1px solid #d1d5db;
}

.navbar-links a:hover {
  border-bottom: 2px solid white;
}

.footer-links a {
  transition: 0.3s;
  border-bottom: 2px solid #d1d5db;
  border-top: 1px solid #d1d5db;
}

.footer-links a:hover {
  border-bottom: 2px solid white;
}

.page {
  min-height: calc(100vh - 103px);
}

.btn,
.admin-tap {
  transition: 0.3s;
}

.btn:hover,
.admin-tap:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
