@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.navbar-links a {
  transition: 0.3s;
  border-bottom: 2px solid #d1d5db;
  border-top: 1px solid #d1d5db;
}

.navbar-links a:hover {
  border-bottom: 2px solid white;
}

.footer-links a {
  transition: 0.3s;
  border-bottom: 2px solid #d1d5db;
  border-top: 1px solid #d1d5db;
}

.footer-links a:hover {
  border-bottom: 2px solid white;
}

.page {
  min-height: calc(100vh - 103px);
}

.btn,
.admin-tap {
  transition: 0.3s;
}

.btn:hover,
.admin-tap:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.register-btn {
  @apply btn text-white bg-gradient-to-r from-pink-700 to-blue-700 p-2 w-full font-bold uppercase rounded-tl-md rounded-tr-md;
}

.paid-btn,
.pending-btn {
  @apply btn text-white bg-gradient-to-r from-green-500 to-green-600 p-2 w-full font-bold uppercase rounded-tl-md rounded-tr-md;
}

.pending-btn {
  @apply btn text-white bg-gradient-to-r from-orange-600 to-orange-400 p-2 w-full font-bold uppercase rounded-tl-md rounded-tr-md;
}

.event-card-top-right {
  @apply z-50 absolute right-2 top-2 rounded-full px-2 py-1 text-white text-[12px];
}
